.App {

  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #333;
  text-align: center;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  justify-content: flex-end;
  
}

.nav-links{
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Это позволит контейнеру растягиваться */
}

nav .link {
  color: #5f6368;
  margin: 0 15px;
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

nav .link:hover, nav .link.active {
  color: #800020; /* Бордовый цвет для активной/наведенной ссылки */
  border-bottom: 2px solid #800020;
}


.allservices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Отступ между элементами */
}

.allservices > div {
  flex: 1;
  min-width: 200px; /* Минимальная ширина для каждой услуги */
}

.docs {
  display: flex;
justify-content: center;
gap: 1rem;

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



